@page "/"
@inject Store store 
<PageTitle>Signals</PageTitle>

<article>
    <body>
        <span>Resources: @store.Resources.Count</span>
    </body>
</article>

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}