@page "/"
@inject Store store
@inject NavigationManager NavigationManager
<PageTitle>Signals</PageTitle>

<div class="grid">
    <article @onclick='() => NavigationManager.NavigateTo("/resources")' style="cursor: pointer;">

        <body>
            <span>Resources: @store.Resources.Count()</span>
        </body>
    </article>
    <article @onclick='() => NavigationManager.NavigateTo("/scopes")' style="cursor: pointer;">

        <body>
            <span>Scopes: @store.Scopes.Count()</span>
        </body>
    </article>
    <article @onclick='() => NavigationManager.NavigateTo("/spans")' style="cursor: pointer;">

        <body>
            <span>Traces: @store.Spans.Count()</span>
        </body>
    </article>
</div>

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    private async Task NavigateToResources()
    {
        await InvokeAsync(() => NavigationManager.NavigateTo("/resources"));
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}