@page "/"
@inject Store store 
<PageTitle>Signals</PageTitle>

<div class="grid">
    <div>Resources: @store.Resources.Count</div>
</div>
@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}