@page "/"
@inject Store store 
<PageTitle>Signals</PageTitle>

<div class="grid">
    <article>
        <body>
            <span>Resources: @store.Resources.Count()</span>
        </body>
    </article>
    <article>
        <body>
            <span>Scopes: @store.Scopes.Count()</span>
        </body>
    </article>
    <article>
        <body>
            <span>Traces: @store.Spans.Count()</span>
        </body>
    </article>
</div>

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}