@page "/"
@attribute [StreamRendering]
@inject SignalsDbContext Db

<PageTitle>Signals</PageTitle>

@if (services == null || resources == null)
{
    <progress />
}
else
{
    <div class="grid">
        <div>Services: @services.Count</div>
        <div>Resources: @resources.Count</div>
    </div>
}

@code {
    private List<Traces.Attribute>? services;
    private List<Traces.Attribute>? resources;

    protected override async Task OnInitializedAsync()
    {
        services = await Db.Attributes
                           .Include(a => a.Key)
                           .Include(a => a.Value)
                           .Where(a => a.Key.Key == "service.name")
                           .GroupBy(a => a.Value.Value)
                           .Select(g => g.First())
                           .ToListAsync();

        resources = await Db.Attributes
                            .Include(a => a.Key)
                            .Include(a => a.Value)
                            .Where(a => a.Key.Key == "service.instance.id")
                            .GroupBy(a => a.Value.Value)
                            .Select(g => g.First())
                            .ToListAsync();
    }
}