@page "/resources"
@inject Store store

<PageTitle>Resources</PageTitle>

@foreach (var resource in store.Resources)
{
    <article>
        <body>
        @foreach (var a in resource.Attributes)
        {
            <span>@a.Key: @a.Value.StringValue<br></span>
        }
        </body>
    </article>
}

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}