@page "/resources"
@attribute [StreamRendering]
@inject SignalsDbContext Db

<PageTitle>Resources</PageTitle>

@if (resources == null)
{
    <progress />
}
else
{
    @foreach (var resource in resources)
    {
        @foreach (var a in resource.Attributes)
        {
            @a<br>
        }
        <span>signal.first: @resource.FirstSignal.ToString("yyyy-dd-MM HH:mm:ss.fff")<br></span>
        <span>signal.last:  @resource.LastSignal.ToString("yyyy-dd-MM HH:mm:ss.fff")<br></span>
        <hr>
    }
}

@code {
    private List<Resource>? resources;

    protected override async Task OnInitializedAsync()
    {
        resources = await Db.Resources
                             .Include(r => r.Attributes)
                                .ThenInclude(a => a.Key)
                             .Include(r => r.Attributes)
                                .ThenInclude(a => a.Value)
                             .ToListAsync();
    }
}