@page "/scopes"
@inject Store store

<PageTitle>Scopes</PageTitle>

@foreach (var scope in store.Scopes)
{
    <article>
        <header>@scope.Name</header>
        <body>
        @foreach (var a in scope.Attributes)
        {
            <span>@a.Key: @a.Value.StringValue<br></span>
        }
        </body>
        <footer>@scope.Version</footer>
    </article>
}

@code {
    protected override void OnInitialized()
    {
        store.OnChange += OnStoreChange;
    }

    private async Task OnStoreChange()
    {
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        store.OnChange -= OnStoreChange;
    }
}