@page "/traces"
@attribute [StreamRendering]
@using Microsoft.EntityFrameworkCore
@using Signals.Traces
@inject TracesDbContext Db

<PageTitle>Traces</PageTitle>

@if (spans == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Parent</th>
                <th>Name</th>
                <th>Timestamp</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var span in spans)
            {
                <tr>
                    <td>@span.Id</td>
                    <td>@span.ParentId</td>
                    <td>@span.Name</td>
                    <td>@span.StartTime</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Span>? spans;

    protected override async Task OnInitializedAsync()
    {
        spans = await Db.Traces.OrderByDescending(trace => trace.StartTime).Take(10).ToListAsync();
    }
}
