<div>

    @foreach(var attribute in ResourceSpan.Attributes)
    {
        <div>
            <span class="key">@(attribute.Key):</span>
            <span class="value">@(attribute.Value)</span>
        </div>
    }
</div>

@code {
    [Parameter] public ResourceSpan ResourceSpan { get; set; } = default!;
}
