<div class="container-fluid">
    <nav>
    <ul>
        <li><a href="/"><strong>Signals</strong></a></li>
    </ul>
    <ul>
        <li><a href="/resources">Resources</a></li>
    </ul>
    </nav>
</div>