<div class="container-fluid">
    <nav>
    <ul>
        <li><NavLink href="/" Match="NavLinkMatch.All"><strong>Signals</strong></NavLink></li>
    </ul>
    <ul>
        <li><NavLink href="/resources">Resources</NavLink></li>
    </ul>
    </nav>
</div>