<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="pico.min.css" />
    <style>
        :root .selected {
                color: var(--pico-primary);
        }
    </style
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <ImportMap />
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode=InteractiveServer />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
